@page "/"
<body>

    <div class="main-area center-text" style="background-image: url(images/countdown-6-1600x900.jpg);">
            <div class="display-table">
                <div class="display-table-cell">
                    <img src="images/LargeResolution_10_180x180.png" style="width:200px" />
                    <p class="font-white" style="text-align: center;"><span style="font-family: 'Monotype corsiva';font-size:102px;font-weight: bold;">Maha's Boutique</span></p>
                    <h2 class="title font-white"><b>Coming Soon</b></h2>
                    
                    <blockquote>
                        <p class="desc font-white" style="font-size:17px;font-family: monotype corsiva;">
                            We are committed to deliver exciting features for you
                        </p>
                    </blockquote>

                    


                    <div class="email-input-area">
        <form method="post">
            <input class="email-input" name="email" type="text" placeholder="Enter your email" />
            <button class="submit-btn" name="submit" type="submit"><b>NOTIFY US</b></button>
        </form>
    </div>
                    <!-- email-input-area -->
                    @*<div id="normal-countdown" data-date="2018/01/01"></div>*@

                    @*<a class="notify-btn" href="#"><b>NOTIFY US</b></a>*@

                    <ul class="social-btn font-white">
                        <li><a href="https://www.facebook.com/mahasboutique/" target="_blank">facebook</a></li>
                        <li><a href="#">twitter</a></li>
                        <li><a href="#">google</a></li>
                        <li><a href="https://www.instagram.com/mahasboutique/" target="_blank">instagram</a></li>
                    </ul><!-- social-btn -->

                </div><!-- display-table -->
            </div><!-- display-table-cell -->
        </div><!-- main-area -->

</body>