@page "/OldIndex"


<img src="~/images/LargeResolution_10_180x180.png" />
<br />
<h1>We are preparing exiting features for you!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
